@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

* {
    font-family: 'Share Tech', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(230, 230, 230);
}

.container {
    padding: 30px;
    width: 320px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.display {
    width: 100%;
    padding-right: 10px;
    font-size: 3rem;
    text-align: end;
    color: rgb(95, 95, 95);
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 28px;
    background: #e0e0e0;
    box-shadow:  -6px -6px 12px #bcbcbc, 6px 6px 12px #ffffff;
}

.keys {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 20px;
  
}

.row {
  display: flex;
  gap: 4px;
}

.btn {
  flex: 1;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  border-radius: 20px;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  border: 2px solid rgb(206, 206, 206);
  font-size: 25px;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  color: rgb(95, 95, 95);
  user-select: none;
}


button:hover {
    
    filter: brightness(1.03);
}

button:active {
    transform: scale(0.8);
}

.btn.delete svg {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.btn.clear {
    color: rgb(209, 129, 126);
}

.btn.operator {
    color: rgb(165, 126, 209);
}

.btn.modifier {
    color: rgb(138, 160, 207);
}

.btn.equals {
    color: rgb(207, 171, 104);
}